@use"../custom" as *;

.footer{
    background-color: $footer;
}

.footer-headings{
    .footer-headings-icon{
        margin-right: 1.2rem;
        width: 4rem;
        stroke: $primary;
    }
    .footer-headings-content{
        color: $gray-600;
        font-weight: 600;
    }
    
    @media(max-width:576px){
        .footer-headings-icon{
            width: 2.5rem;
        }
         .footer-headings-content-title{
            font-size: 1rem;
         }
         .footer-headings-content-description{
             font-size: 0.85rem;
         }
       
    }
}

.footer-socials{
    background-color: #212121;

    .footer-social-text{
        position: relative;
        top: 50%;
        transform: translateY(-50%);
    }

    .footer-social-icons{
        i{
            color: white;
            font-size: 2rem;
            margin-right: 1rem;
        }
    }
}

.footer-utilities{
    @media (max-width:991px) {
        text-align: center;   
    }
p{
    color: $gray-300;
}
hr{
    width: 60px;
    height: 2px;
    border-radius: 20px;
    margin: 1.5rem 0;
    @media (max-width:991px) {
        margin: 1.5rem auto;
    }
}
}