@use"../custom" as *;
@use "../components/mixins" as *;

.btn-nav-contact {
    position: relative;
    background-color: white;
    padding: 0.9375rem 4.375rem 0.9375rem 1.25rem;
    font-weight: 700;

    &:hover {
        @include gradient;
        border-color: #fefe;
        color: white;
        .phone-icon{
            background-color: rgba(black,0.6);
        }
    }
}

.btn-icon{
    background-color: $primary;
    position: absolute;
    width: 2.5rem;
    height: 2.5rem;
    top: 50%;
    right: 5px;
    transform: translateY(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
    }

.play-btn{
    width: 5.8rem;
    height: 5.8rem;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: 50%;
    top: 50%;
    transform: translateY(-50%) translateX(50%) ;
}

.play-btn-border{
    width: 5.8rem;
    height: 5.8rem;
    border-radius: 50%;
    border: 0.55rem solid white;
    position: absolute;
    top: 0;
    left: 0;
    animation: pulse-border 1.5s linear infinite;
}

.close-btn-modal{
    box-sizing: content-box;
    padding: 0.25em 0.25em;
    border: none;
    background-color: transparent;
}

.btn-marketing-learn{
    position: relative;
    background-color: white;
    padding: 0.9375rem 4.375rem 0.9375rem 1.25rem;
    font-weight: 700;
    border: 0.1rem solid $primary;

    &:hover {
        @include gradient;
        border-color: #fefe;
        color: white;
        .phone-icon{
            background-color: rgba(black,0.6);
        }
}
}