@use "../custom" as *;
@mixin gradient {
    background: linear-gradient(to right, rgba($primary, 0.95), rgba($secondary, 0.95));
}
@mixin textClipGradient {
    background: linear-gradient(to right, rgba($primary, 0.95), rgba($secondary, 0.95));
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}